.site{
    display: grid;
    font-family: 'Montserrat', sans-serif;
}
.brands-services{
    background-color: #eeeeee;
}
.brands{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-items: center;
    align-items: baseline;
}
.headline{
    display:grid;
    text-align:center;
    font-size: 3em;
    font-weight: 600;
}